<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>CultMadMap
  </title>

  <script src="https://leaflet.github.io/Leaflet.draw/docs/examples/libs/leaflet-src.js"></script>
  <link rel="stylesheet" href="https://leaflet.github.io/Leaflet.draw/docs/examples/libs/leaflet.css" />
  <link rel="stylesheet" href="http://labs.easyblog.it/maps/leaflet-search/src/leaflet-search.css" />
  <script src="http://labs.easyblog.it/maps/leaflet-search/src/leaflet-search.js"></script>
  <link rel="stylesheet" href="https://leaflet.github.io/Leaflet.draw/src/leaflet.draw.css" />
  <script src="https://leaflet.github.io/Leaflet.draw/src/Leaflet.draw.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/Leaflet.Draw.Event.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/Toolbar.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/Tooltip.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/ext/GeometryUtil.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/ext/LatLngUtil.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/ext/LineUtil.Intersect.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/ext/Polygon.Intersect.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/ext/Polyline.Intersect.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/ext/TouchEvents.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/draw/DrawToolbar.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Feature.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.SimpleShape.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Polyline.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Marker.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.CircleMarker.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Circle.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Polygon.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Rectangle.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/edit/EditToolbar.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/edit/handler/EditToolbar.Edit.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/edit/handler/EditToolbar.Delete.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/Control.Draw.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/edit/handler/Edit.Marker.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body data-userId="<%= code %>" data-coordinates="<%= code.location %>">
  <h1>cultMadMap
    </h1>

  <div id='map' style='width: 600px; height: 400px;'></div>
  <script type="text/javascript">
    var socket = io();

    var userId = document.body.getAttribute("data-userId");
    //var coord = document.body.getAttribute("data-coordinates");

    socket.emit('join', {
      userId: socket.id
    });

    var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      osm = L.tileLayer(osmUrl, {
        maxZoom: 18,
        attribution: osmAttrib
      }),
      map = new L.Map('map', {
        center: new L.LatLng(40.4257, -3.7101),
        zoom: 15
      }),
      drawnItems = L.featureGroup().addTo(map);

    L.control.layers({
      "osm": osm.addTo(map),
    }, {
      'drawlayer': drawnItems
    }, {
      position: 'topright',
      collapsed: 'true'
    }).addTo(map);
    map.addControl(new L.Control.Search({
      url: 'http://nominatim.openstreetmap.org/search?format=json&q={s}',
      jsonpParam: 'json_callback',
      propertyName: 'display_name',
      propertyLoc: ['lat', 'lon'],
      marker: L.marker([0, 0]),
      autoCollapse: true,
      autoType: false,
      minLength: 2
    }));
    map.on('click', onMapClick);

    // Script for adding marker on map click
    function onMapClick(e) {

      var geojsonFeature = {
        "type": "Feature",
        "properties": {},
        "geometry": {
          "type": "Point",
          "coordinates": [e.latlng.lat, e.latlng.lng]
        }
      }

      var marker;

      // Function to handle delete as well as other events on marker popup open
      function onPopupOpen() { //funciones del marcador
        var data;
        var tempMarker = this;
        $(".form").submit(function(e) {
          e.preventDefault();
          var form = document.getElementsByClassName("form");
          console.log(form[0]);
          data = toJSONString(form[0]);

          function toJSONString(form) {
            var obj = {};
            var elements = form.querySelectorAll("input");
            for (var i = 0; i < elements.length; ++i) {
              var element = elements[i];
              var name = element.name;
              var value = element.value;
              if (name) {
                obj[name] = value;
              }
            }
            return JSON.stringify(obj);
          }

          var coord = String(marker.getLatLng()).split(',');
          var lat = coord[0].split('(');
          var lng = coord[1].split(')');
          coordinates = [lat[1], lng[0]]
          console.log(coordinates[0])
          var location = "," + '"location" : {"type" :  "Point" ,  "coordinates"  : ['+ String(coordinates[0])+","+String(coordinates[1])+ '] }}';
          var datasplit = data.split('}')
          var newmarker = datasplit[0] + location
          console.log(newmarker)
          socket.emit("savemarker", newmarker)
          marker.closePopup();
          map.removeLayer(tempMarker);
        });
        $(".marker-delete-button:visible").click(function() {
          map.removeLayer(tempMarker);
        });

      }
      L.geoJson(geojsonFeature, {
        pointToLayer: function(feature, latlng) {
          marker = L.marker(e.latlng, {
            title: "Resource Location",
            alt: "Resource Location",
            riseOnHover: true,
            draggable: true,
          }).bindPopup(
            "<form class='form' enctype='application/json'>" +
            "Type: <input id='type' type='text' name='type'>" +
            "<br>Name: <input id='name' type='text' name='name'>" +
            "<br>Description: <input id='description' type='text' name='description'>" +
            "<br>Phone: <input id='phone' type='text' name='phone'>" +
            "<br>E-mail: <input id='email' type='text' name='email'>" +
            "<br>Address: <input type='text' name='address'>" +
            "<br><button type='reset' class='marker-delete-button'>Cancel</button>" +
            "<button id='submit' type='submit' value='Save'>Save</button>")
          marker.on("popupopen", onPopupOpen);
          return marker;
        }
      }).addTo(map);
    }
    socket.on("newmarker", function(data) {
      //convert lng string to number
      var marker = L.marker(data.location.coordinates).bindPopup(data.name).addTo(map);
      drawnItems.addLayer(marker);
    })
    map.addControl(new L.Control.Draw({
      edit: {
        featureGroup: drawnItems,
        edit: false
      },
      draw: {
        polygon: false,
        marker: false,
        circle: false,
        polyline: false,
        rectangle: false,
        marker: true,
        circlemarker: false
      }
    }));
    // Truncate value based on number of decimals
    var _round = function(num, len) {
      return Math.round(num * (Math.pow(10, len))) / (Math.pow(10, len));
    };
    // Helper method to format LatLng object (x.xxxxxx, y.yyyyyy)
    var strLatLng = function(latlng) {
      return "(" + _round(latlng.lat, 6) + ", " + _round(latlng.lng, 6) + ")";
    };

    // Generate popup content based on layer type
    // - Returns HTML string, or null if unknown object
    var getPopupContent = function(layer) {
      // Marker - add lat/long
      if (layer instanceof L.Marker || layer instanceof L.CircleMarker) {
        return strLatLng(layer.getLatLng());
        // Circle - lat/long, radius
      } else {
        for (var i = 0; i < latlngs.length - 1; i++) {
          distance += latlngs[i].distanceTo(latlngs[i + 1]);
        }
        return "Distance: " + _round(distance, 2) + " m";
      }

      return null;
    };

    // Object created - bind popup to layer, add to feature group
    map.on(L.Draw.Event.CREATED, function(event) {
      var layer = event.layer;
      var content = getPopupContent(layer);
      if (content !== null) {
        layer.bindPopup(content);
      }
      drawnItems.addLayer(layer);
    });

    // Object(s) edited - update popups
    map.on(L.Draw.Event.EDITED, function(event) {
      var layers = event.layers,
        content = null;
      layers.eachLayer(function(layer) {
        content = getPopupContent(layer);
        if (content !== null) {
          layer.setPopupContent(content);
        }
      });
    });

  </script>
</body>

</html>
